body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.login__container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 15px 0;
}

.form__header {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.login__form {
    font-size: .9rem;
    font-weight: 600;
}

.form__group {
    margin-top: 15px;
}

.form__group > input {
    padding: 5px 15px;
}

.submit {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
    padding: 10px 15px;
}